
/* font-family: 'Roboto', sans-serif; */



*{
    margin: 0;
    padding: 0;

}

header{
    padding: 30px 0;
}
.header_wrapper{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.header_logo{

}
.header_logo img{

}
.menu{
    align-items: center;
    margin-top: 10px;
}
.menu ul{
    list-style: none;
    
}
.menu ul li{
    margin-right: 50px;
           
}
.menu ul li a{
    text-decoration: none;
    color: 292c34;
    color: #292c34;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
.content{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.content h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.content p {
    margin-top: 15px;
    color: #fff;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}
.content button{
    margin-top: 20px;
    padding: 20px 40px;
    text-transform: capitalize;
    border-radius: 5px;
    background: #f56e52;
    color: #fff;
    border: 1px solid #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.service{
    width: 80%;
    margin: auto;
}
.service_section{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.service_section_item{

}
.service_section_item img{

}
.service_section_item h2{
    
    margin: 40px 0;
    font-family: 'Roboto', sans-serif;
}
.service_section_item p{
    font-size: 18px;
    color: #97999b;
    font-family: 'Roboto', sans-serif;
}

.service_heading{
    text-align: center;
     
    width: 50%;
    margin: auto;
}
.service_heading h3{
    font-size: 33px;
    color: #f56f52;
    margin: 50px 0;
    font-style: italic; 
    font-family: 'Roboto', sans-serif;
}

.main_service{
    display: flex;
    justify-content: space-between;
    display: flex;
    margin: 50px 0;
}
.main_service_item{
    width: 32%;
    text-align: center;
    margin-top: 20px;
}
.main_service_item img{
    width: 100%;
}
.main_service_item h2{
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
}
.main_service_item p{

    font-family: 'Roboto', sans-serif;
}


.blog_Post{
    width: 100%;
   
    background-color: #f4f4f4;
    
    padding: 50px 0;
   
}
.blog_post_heading{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0 45px;
    text-align: center;

}
.blog_post_heading h1{
    font-family: 'Roboto', sans-serif;
}
.blog_post_section{
    display: flex;
    justify-content: space-between;
    width: 80%;margin: auto;
}
.blog_post_item{
    width: 48%;
}
.blog_post_item img{
    width: 100%;
}
.blog_post_item h2{
    font-size: 21px;
    margin: 10px 0;
    color: #f56f52;
    font-family: 'Roboto', sans-serif;
}
.blog_post_item p{
    margin-bottom: 150px;
    font-family: 'Roboto', sans-serif;
}

footer{
    padding: 30px 0;
    background-color: #292c34;
}
.footer_wrapper{
    width: 80%;margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.footer_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_logo img{
    
}
.footer_logo h5{
    padding: 0 20px;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    color: #797c82;
    font-family: 'Roboto', sans-serif;
}
.social_icon{
    display: flex;
    justify-content: end;
    width: 50%;
}
.social_icon ul{
    list-style: none;
    display: flex;
    width: 45%;
    justify-content: end;
}
.social_icon ul li{
    width: 30%;
}
.social_icon ul li a{
    
    color: white;
}